table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    padding: 5px;

}
td, th {
    border: 1px solid #dddddd;
}
tr:nth-child(even){
    background-color: #dddddd;
}